// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}


.box img {
  width: 100%;
}



#username {
  text-align: center;
  color: #748188;
  font-family: 'Lato', sans-serif;
  font-size: 30pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
  
}

#userDets {
  
  padding-bottom: 5px;
  
}

#userDets .img-thumbnail {
  
  max-width: 45%;
}
